# Logs
*.log

# OS / Editor
.DS_Store
Thumbs.db
/.fleet
/.idea
/.vscode
/.zed
/.nova

# Environment
.env
.env.backup
.env.production
/auth.json

# PHP / Laravel
/vendor
.phpactor.json
.phpunit.result.cache
/.phpunit.cache

# Node
/node_modules

# Laravel build & runtime
/public/build
/public/hot
/public/storage

/storage/*
!/storage/.gitignore
!/storage/**/.gitignore
/storage/*.key
/storage/pail

/bootstrap/cache/*
!/bootstrap/cache/.gitignore

# Homestead
Homestead.json
Homestead.yaml
