version: '3.9'

services:
  app:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: laravel-app
    volumes:
      - ./:/var/www/html:cached
    depends_on:
      - mysql
      - redis
    ports:
      - "8000:8000"

  nginx:
    image: nginx:alpine
    container_name: laravel-nginx
    ports:
      - "80:80"
    volumes:
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - ./:/var/www/html:cached
    depends_on:
      - app

  mysql:
    image: mysql:8
    container_name: laravel-mysql
    environment:
      MYSQL_ROOT_PASSWORD: Avc0666x*x*
      MYSQL_DATABASE: dog_project
      MYSQL_USER: laravel
      MYSQL_PASSWORD: Avc0666x*x*
    ports:
      - "3307:3306"
    volumes:
      - mysql-data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin
    # environment:
    #   PMA_HOST: mysql
    #   PMA_USER: root
    #   PMA_PASSWORD: Avc0666x*x*


  redis:
    image: redis:alpine
    container_name: laravel-redis
    ports:
      - "6379:6379"



  horizon:
    build:
      context: .
      dockerfile: docker/php/Dockerfile
    container_name: laravel-horizon
    command: php artisan horizon
    volumes:
       - ./:/var/www/html:cached
       - ./storage:/var/www/html/storage:cached
       - ./bootstrap/cache:/var/www/html/bootstrap/cache:cached
    depends_on:
      - redis
      - mysql

volumes:
  mysql-data:
